@tailwind components;
@tailwind utilities;

@layer tailwind {
    @tailwind base;
}


.mantine-Modal-content {
    min-width: 500px;

}

.mantine-Modal-body {
    padding: 0;
}

.mantine-Modal-header {
    padding: 6px 0px 6px 8px;
}

.iosBtn {
    width: 179px !important;
}